.container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.navigation {
    position: fixed;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; 

    min-width: 100%;
    
    background-color: #dd6363;
    box-shadow: 0 1px 3px #261111;
}

.brand {
    padding: .5rem;
    margin: 0;

    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.toggle {
    min-width: 48px;
    min-height: 48px;

    background: none;
    border: none;
    cursor: pointer;

    color: black;
    transition: color .25s ease;
}

.toggle:hover {
    color: whitesmoke;
    transition: color .25s ease;
}

.navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 !important;
    width: 100%;
    height: 150px;

    overflow: hidden;

    transition: height .5s ease;
}

.navMenu_collapsed {
    height: 0px;
    width: 100%;

    transition: height .5s ease;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 80%;
    min-height: 48px;

    font-size: 1.25rem;
    text-decoration: none;

    color: #301515;

    transition: all .25s ease;
}
.link:nth-child(2) {
    border-top: 1px solid #a54a4a;
    border-bottom: 1px solid #a54a4a;
}

.link:hover {
    color: white;
}

.link_collapsed {
    visibility: hidden;
}

.content {
    width: 100%;
    height: 100%;
    
    background-color: #ffe2cc;

    overflow: auto;
}