html, body {
    overflow: hidden;
    overflow-y: hidden !important;
}

.hero {
    height: 100%;
    width: 100%;

    background-image: url("./food1_dim.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

/* Set top navbar padding individually for pages */