html, body {
    overflow: hidden;
    overflow-y: hidden !important;
}

@keyframes fadeInFromTop {
    from {
      transform: translateY(-200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-image: url("./food1_dim.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.heroText {
    animation-duration: 1s;
    animation-name: fadeInFromTop;

    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #222;
    color: #DDD;
}

@media screen and (max-width: 995px) {
    .heroText {
        padding: .5rem;

        font-size: 1.75rem;
    }
}