.menuSection {
    padding: 2.5% 5%;
    margin-bottom: 2rem;
}

.sectionHeader {
    display: flex;
    flex-direction: column;

    max-width: 70%;
    margin-bottom: 2rem;
}

.sectionTitle {
    padding-bottom: .5rem;
    margin-bottom: .5rem;

    font-size: 2.5rem;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}

.sectionSubheader {
    font-size: 1rem;
    font-style: italic;
}

.menuItem {
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    max-width: 70%;
    
    flex: 1 0 100%;

    border-bottom: 1px solid lightgrey;
}


.itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.itemName {
    width: 70%;

    font-size: 1.25rem;
}

.price {
    display: inline-block;

    width: 15%;
    font-size: 1.25rem;
}

.description {
    font-style: italic;
}

@media screen and (max-width: 995px) {
    .menuSection {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 15% 2.5% 0 2.5%;
        margin-bottom: 0;
    }

    .sectionHeader {
        width: 100%;
        max-width: 100%;
    }

    .menuItem {
        padding-bottom: .75rem;
        margin-bottom: .75rem;
        width: 100%;
        max-width: 100%;
    }

    .itemName {
        width: 50%;

        font-size: 1rem;
    }

    .price {
        width: 25%;

        font-size: 1rem;
    }
}